@import 'tailwindcss';

@import './fonts/kanit.css';

@theme {
    --font-kanit: 'Kanit', 'serif';

    --color-primary: oklch(63.759% 0.24789 27.453);
    --color-primary-50: oklch(91.504% 0.04365 17.978);
    --color-primary-100: oklch(87.149% 0.06895 16.348);
    --color-primary-200: oklch(79.1% 0.12112 18.257);
    --color-primary-300: oklch(72.267% 0.17238 21.114);
    --color-primary-400: oklch(66.92% 0.21803 24.239);
    --color-primary-500: oklch(63.759% 0.24789 27.453);
    --color-primary-600: oklch(58.287% 0.23891 28.889);
    --color-primary-700: oklch(47.366% 0.19404 28.72);
    --color-primary-800: oklch(35.77% 0.14636 28.343);
    --color-primary-900: oklch(23.107% 0.09449 28.134);
    --color-primary-950: oklch(16.123% 0.06554 26.068);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

    /* Generals */
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
        @apply p-0 m-0 font-kanit box-border;
    }

    html {
        @apply text-black;
    }

    button {
        @apply cursor-pointer transition-colors duration-200 ease-in-out;
    }

    button:not(.unstyled) {
        @apply bg-primary-700 rounded-lg hover:bg-primary-800 focus:bg-primary-800 focus:outline-none focus:ring-2 focus:ring-primary-500 text-white;
    }

    a:not(.unstyled) {
        @apply text-white hover:text-primary-200;
    }

    /* Scrollbar */
    ::-webkit-scrollbar {
        @apply w-1;
    }

    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-gray-400/30;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-400;
    }
}